<html ng-app="listaTelefonica">

<head>
    <title>Título da página</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .jumbotron {

            width: auto;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="angular.min.js"></script>
<script src="/node_modules/angular-locale-pt-br/angular-locale_pt-br.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    angular.module("listaTelefonica", []);
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", ($scope, $http) => {
        $scope.app = "Lista Telefonica";
        $scope.contatos = [];

        $scope.operadoras = [];

        var carregarOperadoras = function () {
            $http.get('http://localhost:3000/api/operadoras')
                .then((operadoras) => {

                    $scope.operadoras = operadoras.data;
                })
        };

        var carregarContatos = function () {
            $http.get('http://localhost:3000/api/contatos')
                .then((contatos) => {
                    $scope.contatos = contatos.data;
                })
        }

        $scope.adicionarContato = function (contato) {
            //$scope.contatos.push(angular.copy(contato));
            $http.post('http://localhost:3000/api/contatos', contato)
                .then((data) => {

                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();

                    carregarContatos();

                })


        };

        $scope.apagarContatos = function (contatos) {
            $scope.contatos = contatos.filter((contato) => {
                if (!contato.selecionado) {
                    return contato;
                }
            })

        }

        $scope.isContatosSelecionado = function (contatos) {
            return contatoSelecionado = contatos.some((contato) => {
                return contato.selecionado
            })
        }

        $scope.ordenarPor = function (campo) {
            $scope.criterioDeOrdenacao = campo;
            $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
        }

        carregarOperadoras();
        carregarContatos();

        $scope.classe1 = "selecionado";
        $scope.classe2 = "negrito";
    })

</script>

<body ng-controller="listaTelefonicaCtrl">

    <div class="jumbotron">
        <h4>{{ app }}</h4>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você busca?">
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th>

                </th>
                <th>
                    <a href="" ng-click="ordenarPor('nome')">Nome</a>
                </th>
                <th>
                    <a href="" ng-click="ordenarPor('nome')">Telefone</a>
                </th>
                <th>
                    Data
                </th>
                <th>
                    Operadora
                </th>

            <tr ng-class="{'selecionado negrito' : contato.selecionado}"
                ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td> <input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome |uppercase }}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.createdAt | date:'EEE dd/MM/yyyy HH:mm'}}</td>
                <td>{{contato.operadora.nome | lowercase }}</td>
                <td style="width: 20px;height: 20px;" ng-style="{'background-color': contato.cor}"></td>
            </tr>
            </tr>
        </table>
        <hr>
        <form name="contatoForm" action="">
            <input class="form-control" type="text" name="nome" ng-model="contato.nome" ng-required="true"
                placeholder="Nome" ng-minlength="5">
            <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" ng-required="true"
                placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/">
            <select class="form-control" ng-model="contato.operadora"
                ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
            Preencha nome
        </div>
        <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
            Nome deve ter no minimo 5 caracteres.
        </div>
        <div ng-show="contatoForm.telefone.$error.required  && contatoForm.telefone.$dirty" class="alert alert-danger">
            Preencha telefone
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            Telefone deve ter esse formato xxxxx-xxxx
        </div>
        <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid"
            ng-click="adicionarContato(contato)">Adicionar contato</button>
        <button class="btn btn-danger btn-block" ng-if="isContatosSelecionado(contatos)"
            ng-click="apagarContatos(contatos)">Apagar contato</button>

    </div>
    <div ng-include="'footer.html'"></div>

</body>


</html>